*{
    padding: 0px;
    margin: auto;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: black;
    color: white;
}
header{
    border-bottom: solid 1px white;
    position: fixed;
    width: 100%;
    background-color: black;
}
.size{
    display: inline-block;
    text-align: center;
    width: 10%;
    color: white;
}
a{
    text-decoration: none;
    color: inherit;
    background-color: inherit;
}
.size:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}
.head{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10% auto;
}
.onload{
    width: 30%;
    text-align: center;
    margin-top: 15%;
}
.logbtn{
    padding: 5px;
}
.logbtn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.no{
    display: none;
}
.loginform{
    line-height: 35px;
    width: 15%;
}
.w{
    letter-spacing: 5px;
    width: 100%;
}
.error{
    margin-top: 1%;
}
.error p{
    padding: 10px;
    color: red;
    text-align: center;
    letter-spacing: 10px;
}
.error p label{
    padding: inherit;
    border-left: solid 1px red;
    border-right: solid 1px red;
    color: inherit;
}
.signsuc{
    text-align: center;
    width: 50%;
    color: greenyellow;
    border: dotted 1px green;
}
.lpage{
    margin-top: 5%;
    color: white;
    border: solid 1px white;
    width: 90%;
    height: 70%;
    overflow: scroll;
}
.lpage::-webkit-scrollbar{
    display: none;
}
.rp{
    padding-top: 10px;
    max-width: 1% auto;
}
.rpform{
    position: fixed;
    right: 5%;
}
.foot{
    padding: 20px;
    width: 50%;
    text-align: center;
}
.col{
    width: 98%;
    height: 98%;
}
table{
    width: 100%;
}
tr{
    margin: 5%;
    width: 100%;
}
td{
    background-color: rgb(63, 63, 63);
    width: calc(100% /3);
    text-align: center;
    height: 100%;
}
tr td:hover{
    background-color: black;
    cursor: pointer;
}
td a{
    letter-spacing: 5px;
    display: block;
    width: 100%;
    height: 100%;
}
.box{
    margin: auto;
    border: solid 1px white;
    width: 100%;
    height: 5%;
}
.si{
    width: calc(100% /5);
}
.bk{
    background-color: black;
}